@model ManegementApi.ViewModels.HomeDetailsViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>@Model.Title</h3>

   
    <div>
        Name: @Model.Staff.FirstName @Model.Staff.LastName
    </div>
    <div>
        Email: @Model.Staff.Email
    </div>
    <div>
        Department: @Model.Staff.Department
    </div>
</body>
</html>